* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#title {
    font-size: 70px;
    color: rgb(226, 199, 44);
    font-family: 'Pixelify Sans', sans-serif;
}

header {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, cadetblue 80%, rgba(0, 0, 0, 0));
}

#main-container {
    align-self: center;
}

#frame {
    width: 600px;
    height: 700px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    user-select: none;
    background-color: gray;
    box-shadow: black 8px 8px 10px 10px;
}

#screen {
    border: 1px solid black;
    border-radius: 20px 20px 50px 50px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Calculator', sans-serif;
    background-color: whitesmoke;
    box-shadow: inset black 1px 1px 2px 2px;
}

#operation-input {
    align-self: flex-end;
    flex: 1 1 0;
    font-size: 25px;
}

#number-input {
    flex: 4 1 0;
    font-size: 85px;
    font-family: 'Calculator', sans-serif;
    align-self: flex-end;
}

.btn-row {
    flex: 1 1 0;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.button {
    border: 1px solid black;
    flex: 1 1 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(199, 199, 199);
}

.normal-shadow {
    box-shadow: black 2px 2px 2px 1px;
    font-size: 40px;
    transition: all 0.1s;
}

.pressed-shadow {
    box-shadow: black 1px 1px 1px 1px;
    font-size: 39px;
    transition: all 0.1s;
}

#on-off {
    background-color: red;
    color: white;
    font-weight: bold;
}

footer {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top, cadetblue 80%, rgba(0, 0, 0, 0));
    font-size: 30px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(226, 199, 44);
}

.footer-link {
    text-decoration: none;
    color: crimson;
}

.footer-link:hover {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: cadetblue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 20px 40px;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

.info h2 {
    text-decoration: underline;
}

.modal-hidden {
    display: none;
}

.modal-link {
    text-decoration: none;
    color: blue
}

.modal-link:hover {
    color: white;
}

@media screen and (max-width: 1000px) {
    #frame {
        max-width: 600px;
        max-height: 700px;
        width: 60vw;
        height: 70vw;
    }

    #number-input {
        font-size: 8.5vw;
    }

    .normal-shadow {
        font-size: 4vw;
    }

    .pressed-shadow {
        font-size: 3.9vw;
    }

    footer {
        font-size: 3vw;
    }
}

@media screen and (max-width: 750px) {
    .footer-hidden {
        display: none;
    }

    .modal-hidden {
        display: block;
    }

    footer {
        font-size: 35px;
    }

    .info {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 12vw;
    }

    #frame {
        width: 360px;
        height: 420px;
    }

    #number-input {
        font-size: 51px;
    }

    .normal-shadow {
        font-size: 24px;
    }

    .pressed-shadow {
        font-size: 36px;
    }

    .info {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    #title {
        font-size: 48px;
    }
}